.container {
	align-items: center;
	background-color: var(--chakra-colors-black-900);
	border: 1px solid var(--chakra-colors-gray-400);
	border-radius: 4px;
	border-style: dashed;
	cursor: pointer;
	display: flex;
	justify-content: center;
	min-height: 132px;
	position: relative;
	width: 100%;
}

.container:hover {
	border-color: var(--chakra-colors-primary-400);
}

.container.dragging {
	border-color: var(--chakra-colors-primary-400);
}

.content {
	cursor: pointer;
	height: 100%;
	padding: 24px 0;
}
