.fieldset {
    display: flex;
    flex: 1;
    width: 100% !important;
}

.fieldset div {
    display: flex;
    flex: 1;
    gap: 5px;
    height: 40px;
    justify-content: center;
    width: 100% !important;
}

.fieldset div input {
    border-radius: 0 !important;
    border: none;
    color: var(--color-secondary-dark);
    flex: 1;
    font-size: 15px;
    font-weight: 600;
    height: 100% !important;
    max-width: 40px;
    text-align: center;
}
