.progressBackGround {
	min-height: 7px;
	max-height: 7px;
	width: 100%;

	background-color: var(--chakra-colors-primary-400);
}

.initialProgress {
	z-index: 2;

	position: relative;
	flex: initial;
	flex-direction: row-reverse;

	/* border-radius: 8px 0 0 8px; */

	min-height: 7px;
	max-height: 7px;

	background-color: var(--chakra-colors-secondary-400);
}

.transition {
	transition: width 1.5s ease;
}

.progressDown {
	z-index: 1;
	position: absolute;
	flex: initial;

	min-height: 7px;
	max-height: 7px;

	background-color: var(--chakra-colors-danger-400);
}

.progressBar {
	position: relative;
	flex: initial;

	min-height: 7px;
	max-height: 7px;

	animation-name: preencher;
	animation-duration: 1.5s;
	animation-timing-function: ease;
}

.progressUp {
	border-radius: 0 8px 8px 0;

	background-color: var(--chakra-colors-success);
}

.points {
	z-index: 6;

	display: flex;
	gap: 4px;

	position: absolute;
	top: -24px;

	font-size: 14px;
	color: white;
	font-weight: 500;
}

.leftImage {
	z-index: 5;

	max-width: 60px;
	max-height: 60px;

	margin-right: -10px;
}

.rightImage {
	z-index: 5;

	max-width: 60px;
	max-height: 60px;

	margin-left: -9px;
}

.animateScale {
	transition: transform 0.5s ease;
	animation: scale-up-down 0.5s;
	animation-delay: 1.5s;
}

@keyframes preencher {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

@keyframes scale-up-down {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}
