.container {
	align-items: center;
	background-color: var(--chakra-colors-purple-400);
	border-radius: 8px;
	font-size: 14px;
	font-weight: var(--chakra-fontWeights-medium);
	height: 40px;
	padding: 5px 50px;
}
