.container {
	height: 100%;
	position: relative;
}

.lineupWrapper {
	flex-wrap: wrap;
	height: 100%;
	padding: 20px 0;
}

.cancelQueueBtn {
	position: relative;
	width: 269px;
}

.cancelQueueBtnIcon {
	font-size: 18px;
	position: absolute;
	right: 24px;
}
