.container {
	border-bottom: 1px solid var(--chakra-colors-gray-700);
	display: flex;
	padding-bottom: 27px;
	padding-top: 27px;
}

.container:first-child {
	padding-top: 0;
}

.container:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.addBtn {
	background-color: var(--chakra-colors-purple-400);
	border-radius: 67px;
	cursor: pointer;
	padding: 8px 14px;
	transition: background-color 0.2s ease-in-out;
}

.addBtn:hover {
	background-color: var(--chakra-colors-purple-300);
}
