.progressBar {
	height: 6px;
	width: 300px;

	background-color: #d9d9d9;

	border-radius: 8px;
	overflow: hidden;
}

.progress {
	height: 6px;

	border-radius: 8px;

	background-color: var(--chakra-colors-primary-400);
}
