.header {
	position: relative;

	background-color: #111111;
	background-image: url('@assets/images/profile_bg.png');
	background-size: cover;
	background-repeat: no-repeat;

	color: white;

	height: 25.5%;

	align-items: flex-end;
}

.progressBar {
	height: 6px;
	width: 300px;

	background-color: #d9d9d9;

	border-radius: 8px;
	overflow: hidden;
}

.progress {
	height: 6px;

	border-radius: 8px;

	background-color: var(--chakra-colors-primary-400);
}
