.container {
	padding: 24px;

	width: 349px;
	height: 287px;

	background-color: #222222;

	border-radius: 8px;

	border: 1px solid #434343;
}

.centerStats {
	height: 100%;

	justify-content: space-evenly;
}
