.container {
	background-color: #222222;
	border: 1px solid #434343;
	border-radius: 8px;
	height: 287px;
	padding: 24px;
	width: 349px;
}

.centerStats {
	height: 100%;
	justify-content: space-evenly;
}

.bodyContainer {
	height: 190px;
	width: 73px;
}
