.containerInfos {
	align-items: center;
	justify-content: space-between;
	padding-left: 12px;
}

.avatarInfos {
	align-items: center;

	min-width: 160px;
}

.resultInfo {
	align-items: center;
	justify-content: space-around;

	min-width: 400px;
}

.seeMore {
	align-items: end;
	flex-direction: column;
	min-width: 90px;
}
