.icon {
	background-color: var(--chakra-colors-gray-700);
	border-radius: 8px;
	cursor: pointer;
	gap: 0px;
	height: 32px;
	min-width: 32px;
	transition: background-color 0.2s ease-in-out;
}

.icon:hover {
	background-color: var(--chakra-colors-gray-400);
}

.icon:hover svg {
	color: white;
}
