.container {
	background-color: var(--chakra-colors-gray-1000);
	border-radius: 4px;
	color: white;
	padding: 24px;
}

.title {
	color: white;
	text-transform: uppercase;
}

@media (max-width: 1600px) {
	.container {
		padding: 22px;
	}
}
