.container {
	text-align: center;
}

.container p {
	font-size: 16px;
	text-transform: uppercase;
}

.container button {
	background-color: transparent;
	border: none;
	color: transparent;
	cursor: pointer;
	margin-top: 10px;
	padding: 0;
	text-align: center;
}
