.container {
	background-color: var(--chakra-colors-black-900);
	border: 1px solid var(--chakra-colors-gray-400);
	border-radius: 4px;
	flex: 0 0 48.5%;
	max-width: 50%;
	max-width: 233px;
	padding: 12px 16px 12px 14px;
	width: 100%;
}

.imageFile {
	height: 37px;
	max-width: 28px;
	width: 28px;
}

@media (max-width: 1600px) {
	.container {
		padding: 8px 12px 8px 10px;
	}
	.imageFile {
		height: 30px;
		max-width: 21px;
		width: 21px;
	}
}
