.container {
	background-color: transparent;
	cursor: pointer;
	padding: 10px 25px;
	transition: all 50ms linear;
}

.container:hover {
	background-color: #333;
}

.username,
.status {
	line-height: 18px;
}

.username {
	color: white;
	font-size: 14px;
	font-weight: var(--chakra-fontWeights-medium);
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.status {
	color: #999;
	font-size: 12px;
	font-weight: var(--chakra-fontWeights-medium);
}

.avatar {
	height: 46px;
	width: 46px;
}

.info {
	position: relative;
	top: 6px;
}

.invite {
	font-size: 20px;
	opacity: 0;
	transition: all 50ms linear;
}

.container:hover .invite {
	opacity: 1;
}

.container.disabled {
	cursor: default;
}

.container.disabled:hover {
	background-color: rgba(0, 0, 0, 0.15);
	cursor: default;
}

.container.disabled:hover .invite {
	opacity: 0;
}

.together {
	background-color: rgba(0, 0, 0, 0.15);
	cursor: default;
}
