.container {
	background-color: #434343;
	border-radius: 8px;
	padding: 10px 60px;
}

.level {
	position: relative;
}

.username {
	max-width: 280px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.actionLink {
	cursor: pointer;
	opacity: 0.8;
	transition: all 100ms linear;
}

.actionLink:hover {
	opacity: 1;
}
