.container {
	position: relative;
}

.container.sm {
	max-width: 41px;
}

.container.xs {
	max-width: 25px;
}

.container.md {
	max-width: 75px;
}

.container.lg {
	max-width: 90px;
}

.container.xl {
	max-width: 120px;
}

.txt {
	font-weight: bold;
	position: absolute;
	text-align: center;
}

.xs .txt {
	font-size: 7px;
	margin-top: -5px;
}

.sm .txt {
	font-size: 12px;
	margin-left: -1px;
	margin-top: -8px;
}

.md .txt {
	font-size: 20px;
	margin-left: -2px;
	margin-top: -15px;
}

.lg .txt {
	font-size: 24px;
	margin-left: -2px;
	margin-top: -18px;
}

.xl .txt {
	font-size: 32px;
	margin-left: -2px;
	margin-top: -22px;
}
