.container {
	background: linear-gradient(
		to bottom,
		var(--chakra-colors-primary-400) 0,
		#34a5e0 80%
	);
	border-radius: 8px;
	height: 100%;
	padding: 60px 20px;
	position: relative;
	width: 100%;
}

.leaveAction {
	cursor: pointer;
	opacity: 0.5;
	position: absolute;
	right: 18px;
	top: 18px;
	transition: all 100ms linear;
	z-index: 1;
}

.leaveAction:hover {
	opacity: 1;
}

.avatar {
	border: 1px solid white;
	border-radius: 8px;
	max-width: 120px;
}

.avatar img {
	border-radius: 8px;
}

.username {
	cursor: default;
	font-size: 20px;
	font-weight: var(--chakra-fontWeights-medium);
	max-width: 230px;
}

.username p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.infos {
	cursor: default;
	font-size: 12px;
	margin-top: 60px;
	text-transform: uppercase;
	user-select: none;
}

.lastResults {
	font-size: 16px;
	font-weight: var(--chakra-fontWeights-bold);
	margin-top: 5px;
}

.level {
	margin: 30px 0;
}

.actions {
	font-size: 24px;
	margin-top: auto;
}

.actionLink {
	cursor: pointer;
	opacity: 0.8;
	transition: all 100ms linear;
}

.actionLink:hover {
	opacity: 1;
}
