@tailwind base;
@tailwind components;
@tailwind utilities;

.pin-button-none::-webkit-outer-spin-button,
.pin-button-none::-webkit-inner-spin-button {
	appearance: none;
}

* {
    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-track {
      background: rgba(28, 28, 28, 0.3);
      border-radius: 10px 1.5px 0px;
    }


    &::-webkit-scrollbar-thumb {
      background: rgba(28, 28, 28, 0.7);
      border-radius: 10px 1.5px 0px;
    }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: white;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img,
video {
	height: auto;
	max-width: 100%;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

main, div, section, aside, header, footer, article {
  display: flex;
  flex: 1 1;
  width: 100%;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

div[data-radix-popper-content-wrapper]{
	width: auto;
}

//SWIPER
.swiper-button-disabled {
	opacity: 0.5;
	pointer-events: none;
}
