.container {
    background-color: black;
    background-image: url('@assets/images/home_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
}

.heroImg {
    margin-top: auto;
}

.hero {
    max-width: 650px;
    margin-left: 50px;
}

.brand {
    max-width: 305px;
}

.description {
    max-width: 310px;
    font-size: 16px;
    line-height: 28px;
}
