.container {
	background-color: black;
	background-image: url('@assets/images/home_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 100vh;
	position: relative;
}

.animatedBg {
	position: absolute;
	top: 1.1%;
	z-index: var(--chakra-zIndices-base);
}

.animatedBg img {
	margin-right: 10.6%;
	margin-top: 6.7%;
	width: 36.5%;
}

.hero {
	max-width: 37.3%;
	padding-left: 3.6%;
	position: relative;
	z-index: var(--chakra-zIndices-one);
}

.heroImg {
	margin-right: 1.6%;
	margin-top: auto;
	position: relative;
	z-index: var(--chakra-zIndices-one);
}

.heroImg img {
	width: 74.6%;
}

.brand {
	max-width: 305px;
	position: relative;
}

.description {
	font-size: 16px;
	line-height: 28px;
	max-width: 310px;
}

.actions {
	max-width: 305px;
}

.fakeSigninForm {
	max-width: 310px;
}

@media (max-width: 1530px) {
	.heroImg {
		justify-content: end;
		min-width: 840px;
	}
}

@media (max-width: 767px) {
	.heroImg {
		margin: 0;
		max-width: 100%;
		min-width: 0;
	}
	.heroImg img {
		max-width: 100%;
	}
	.hero {
		align-items: center;
		max-width: 100%;
		padding: 0;
	}
	.description {
		max-width: 305px;
	}
	.animatedBg {
		display: none;
	}
	.brand {
		max-width: 75%;
	}
}

.containerMobile {
	background: url('@assets/images/home_mobile_bg_bottom.png') no-repeat bottom
			left,
		url('@assets/images/home_mobile_bg_top.png') no-repeat top right black;
	color: white;
	min-height: 100vh;
	padding: 0 30px;
	padding-bottom: 40px;
}

.mobileHeader {
	position: relative;
	z-index: var(--chakra-zIndices-one);
}

.mobileBrand {
	width: 75%;
}

.mobileJoinUs {
	font-size: 12px;
}
