.statsContainer {
	background-color: var(--chakra-colors-gray-1100);
	border-radius: 8px;
	padding: 24px;
}

.header {
	font-size: 18px;
	text-transform: uppercase;
}

/* @media (max-width: 1600px) {

} */
