.statsContainer {
	background-color: var(--chakra-colors-gray-1100);
	border-radius: 8px;
	padding: 24px;
}

.header {
	font-size: 18px;
	text-transform: uppercase;
}

.statsHeader {
	align-items: initial;
}

.progressBar {
	align-items: center;
	background: rgba(40, 40, 40, 0.8);
	border-radius: 4px;
	min-height: 82px;
	min-width: 38%;
	padding: 0 6px;
}

@media (max-width: 1500px) {
	.statsHeader {
		flex-direction: column;
	}
}
