.container {
	background-color: var(--chakra-colors-black-900);
	color: white;
	height: 100%;
}

.gameTypeItem {
	border-bottom: 1px solid var(--chakra-colors-gray-550);
	color: var(--chakra-colors-gray-550);
	padding-bottom: 18px;
	position: relative;
	text-transform: uppercase;
}

.gameTypeItem.active {
	border-bottom: 1px solid var(--chakra-colors-primary-400);
	color: var(--chakra-colors-primary-400);
	font-weight: var(--chakra-fontWeights-medium);
}

.gameTypeItem.active .arrowUpIcon {
	bottom: -8px;
	position: absolute;
}

.footer {
	max-width: 273px;
}

@media (max-width: 1600px) {
	.gameTypeItem {
		padding-bottom: 16px;
	}
}
