.statusLobbyLinkBtn {
	align-items: center;
	background-color: var(--chakra-colors-primary-400);
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-weight: var(--chakra-fontWeights-bold);
	height: 66px;
	justify-content: center;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	width: 141px;
}

.statusLobbyLinkBtn:hover {
	background-color: var(--chakra-colors-primary-500);
}
