.statusLobbyLinkBtn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--chakra-colors-primary-400);

	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 24px;
	text-transform: uppercase;

	width: 141px;
	height: 66px;
}

.statusLobbyLinkBtn:hover {
	background-color: var(--chakra-colors-primary-500);
}
