.notificationBox {
	cursor: pointer;
	margin: 0 2.188rem 0 3.125rem;
	position: relative;
}

.notificationBox .badge {
	background-color: var(--chakra-colors-primary-400);
	color: var(--chakra-colors-gray-200);
	font-size: 10px;
	padding: 1px 8px;
	position: absolute;
	right: -12px;
	top: -8px;
}
