.notificationBox {
	cursor: pointer;
	margin: 0 2.188rem 0 3.125rem;
	position: relative;
}

.notificationBox .badge {
	position: absolute;
	top: -8px;
	right: -12px;

	padding: 1px 8px;

	background-color: var(--chakra-colors-primary-400);

	color: var(--chakra-colors-gray-200);
	font-size: 10px;
}
