button.readAllBtn {
	font-size: 12px;
	text-align: center;
	text-transform: initial;
	color: var(--chakra-colors-secondary-400);
}

.readAllBtn svg path {
	transition: all 0.2s;
}

.readAllBtn:hover svg path {
	fill: #fff;
}

button.readAllBtn:is(:disabled) {
	color: #fff;
	background: transparent;
	background-color: transparent;
}

.itemContainer .notification {
	font-size: 14px;

	border-radius: 8px;
	padding: 6px 10px;
	height: fit-content;

	transition: all 0.2s ease-in-out;
}

.itemContainer .readMessageBtn {
	min-width: fit-content;
	min-height: fit-content;
	margin-left: -100px;

	animation: 0.2s ease-in-out showBtn;
}

.readMessageBtn :is(span, path) {
	transition: all 0.2s ease-in-out;
}

.readMessageBtn:not(:disabled):hover :is(path, span) {
	fill: #fff;
	color: #fff;
}

.itemContainer:hover .readMessageBtn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.itemContainer:hover .notification {
	transform: translateX(-40%);
}

.footer {
	box-shadow: rgba(0, 0, 0, 0.2) 0px -10px 20px -10px;
	border-top: 1px solid #434343;

	margin: 0 auto;
	margin-top: 4px;
	padding: 12px;
	width: 90%;
}

.footer img {
	opacity: 0.2;

	width: 24px;
}

@keyframes showBtn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
