.container {
	color: white;
	height: 100%;
}

.container.addBorder {
	border-bottom: 1px solid var(--chakra-colors-gray-700);
}

.header {
	cursor: pointer;
	padding: 16px 20px;
}

.header.disabled,
.container.open .header.disabled {
	cursor: default;
}

.arrowIcon {
	opacity: 0.7;
	transition: all 100ms linear;
}

.header:hover .arrowIcon {
	opacity: 1;
}

.container.open .arrowIcon {
	transform: rotate(180deg);
}

.hideHeader {
	display: none;
}
