.container {
	background-color: var(--chakra-colors-gray-800);
	padding: 12px 18px;
}

.container:hover {
	background-color: rgba(152, 130, 255, 0.15);
}

.actions {
	max-width: 60px;
}

.actionBtn {
	cursor: pointer;
	height: 100%;
	opacity: 0.8;
	padding: 0 8px;
	transition: opacity 100ms linear;
}

.actionBtn:hover {
	opacity: 1;
}
