.header {
	background-image: url('@assets/images/profile_header_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 54px 60px;
	width: 100%;
}

.title {
	padding: 0 60px;
}

.content {
	padding: 0 60px;
}
