.header {
	background-image: url('@assets/images/profile_header_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 60px;
	width: 100%;
}

.content {
	align-items: initial;
	padding: 0 60px;
}

@media (max-width: 1600px) {
	.header {
		padding: 30px;
	}
	.content {
		padding: 0 30px;
	}
}
