.container {
	max-width: 430px;
	position: relative;
}

.pin {
	margin-top: 40px;
	max-width: 100%;
}

.pinWrapper {
	max-width: 412px;
}

.formTitle {
	font-size: 20px;
	font-weight: var(--chakra-fontWeights-bold);
	text-transform: uppercase;
}
