.notificationBox {
	position: relative;
	cursor: pointer;

	max-width: 25px;
	margin: 0 2.188rem 0 3.125rem;
}

.notificationBox .badge {
	position: absolute;
	top: -8px;
	right: -6px;

	width: 22px;
	padding: 0px 8px;

	background-color: var(--chakra-colors-primary-400);

	color: var(--chakra-colors-gray-200);
	font-size: 10px;
}

button.readAllBtn {
	font-size: 12px;
	text-align: center;
	text-transform: initial;
	color: var(--chakra-colors-secondary-400);
}

.readAllBtn svg path {
	transition: all 0.2s;
}

.readAllBtn:hover svg path {
	fill: #fff;
}

button.readAllBtn:is(:disabled) {
	color: #fff;
	background: transparent;
	background-color: transparent;
}

.footer {
	box-shadow: rgba(0, 0, 0, 0.2) 0px -10px 20px -10px;
	border-top: 1px solid #434343;

	margin: 0 auto;
	margin-top: 4px;
	padding: 12px;
	width: 90%;
}

.footer img {
	opacity: 0.2;

	width: 24px;
}
