.container {
	background-color: var(--chakra-colors-gray-800);
	color: white;
}

.header {
	background-color: var(--chakra-colors-gray-400);
	padding: 10px 10px 10px 18px;
}

.filterBtn {
	cursor: pointer;
	max-height: 36px;
	max-width: 36px;
	min-height: 36px;
	min-width: 36px;
	opacity: 0.5;
	padding: 0 18px;
	position: relative;
	transition: all 100ms linear;
}

.filterBtn:hover {
	opacity: 1;
}
