.menuItem {
	border-radius: 4px;
	font-size: 18px;
	min-height: 42px;
	position: relative;
}

.menuItem a,
.menuItem button {
	align-items: center;
	border-radius: 4px;
	display: flex;
	flex: 1;
	gap: 14px;
	height: 100%;
	padding: 10px 14px;
	position: relative;
}

.menuItem.soon a,
.menuItem.soon a:hover,
.menuItem.soon button,
.menuItem.soon button:hover {
	cursor: default;
	opacity: 0.7;
	pointer-events: none;
}

.menuItem:not(.soon) a:hover,
.menuItem:not(.soon) button:hover {
	background-color: rgba(104, 71, 255, 0.3);
	border-radius: 4px;
}

.menuItem a p,
.menuItem button p {
	font-size: 14px;
}

@media (max-width: 1600px) {
	.menuItem {
		font-size: 16px;
		min-height: 32px;
	}
	.menuItem a,
	.menuItem button {
		gap: 12px;
		padding: 8px 12px;
	}
}
