.menuItem {
	border-radius: 4px;
	font-size: 18px;
	min-height: 42px;
	position: relative;
}

.menuItem a,
.menuItem button {
	align-items: center;
	border-radius: 4px;
	display: flex;
	flex: 1;
	gap: 14px;
	height: 100%;
	padding: 10px 14px;
	position: relative;
}

.menuItem.soon a,
.menuItem.soon a:hover,
.menuItem.soon button,
.menuItem.soon button:hover {
	cursor: default;
	opacity: 0.7;
	pointer-events: none;
}

.menuItem:not(.soon) a:hover,
.menuItem:not(.soon) button:hover {
	background-color: rgba(104, 71, 255, 0.3);
	border-radius: 4px;
}

.menuItem a p,
.menuItem button p {
	font-size: 14px;
}

.envelop {
	animation: shake 3.5s ease infinite;
}

@keyframes shake {
	0%,
	20%,
	40% {
		transform: rotate(0);
	}
	1.5%,
	21.5%,
	41.5% {
		transform: rotate(-13deg);
		transform: scale(1.2);
	}
	2.5%,
	22.5%,
	42.5% {
		transform: rotate(13deg) scale(1.2);
	}
	4%,
	24%,
	44% {
		transform: rotate(-13deg) scale(1.2);
	}
	5%,
	25%,
	45% {
		transform: rotate(13deg) scale(1.2);
	}
	6.5%,
	26.5%,
	46.5% {
		transform: rotate(-13deg) scale(1.2);
	}
	7.5%,
	27.5%,
	47.5% {
		transform: rotate(0deg);
		transform: scale(1);
	}
	100% {
		transform: rotate(0);
	}
}

@media (max-width: 1600px) {
	.menuItem {
		font-size: 16px;
		min-height: 32px;
	}
	.menuItem a,
	.menuItem button {
		gap: 12px;
		padding: 8px 12px;
	}
}
