.container {
	background-color: var(--chakra-colors-gray-800);
	color: white;
	padding: 24px 18px;
}

.link {
	font-size: 14px;
	font-weight: var(--chakra-fontWeights-medium);
	text-transform: uppercase;
}

.link.disabled,
.link.disabled:hover {
	color: var(--chakra-colors-gray-600);
	cursor: default;
	pointer-events: none;
}
