.container {
	background-color: var(--chakra-colors-black-300);
	height: 100%;
	max-width: 300px;
	min-width: 300px;
	overflow: hidden;
	padding: 40px 24px;
}

.header {
	padding-left: 12px;
}

.userInfo {
	padding-left: 2px;
	padding-right: 6px;
}

.playBtn {
	box-shadow: 0px 0px 20px 5px rgba(104, 71, 255, 0.4);
	width: 100%;
}

.menuItem {
	border-radius: 4px;
	font-size: 18px;
	min-height: 42px;
}

.menuItem:hover {
	background-color: var(--chakra-colors-gray-400);
}

.menuItem.soon:hover {
	background-color: transparent;
}

.menuItem a {
	align-items: center;
	display: flex;
	flex: 1;
	gap: 14px;
	padding: 10px 16px;
	position: relative;
}

.menuItem.soon a,
.menuItem.soon a:hover {
	cursor: default;
	opacity: 0.7;
	pointer-events: none;
}

.menuItem a p {
	font-size: 14px;
}

.container.collapsed {
	max-width: 100px;
	min-width: 100px;
	padding: 40px 18px;
}

.container.collapsed .header {
	align-items: center;
	padding-left: 0;
}

.container.collapsed .header img {
	max-width: 40px;
}

.container.collapsed .menu,
.container.collapsed .menuItem,
.container.collapsed .menuItem a,
.container.collapsed .userInfo {
	justify-content: center;
}

.container.collapsed .userInfo {
	padding: 0;
}

.container.collapsed .menuItem:hover {
	background-color: transparent;
}

.container.collapsed .menuLinkWrapper {
	align-items: center;
	justify-content: center;
}

.container.collapsed .unreadBadge {
	position: absolute;
	right: 10px;
	width: auto;
}
