.container {
	background-color: var(--chakra-colors-black-300);
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 10000;
}

.userInfo {
	padding-left: 28px;
	padding-right: 28px;
}

.menu {
	padding: 0 28px;
}

.menuItem {
	border-radius: 4px;
	font-size: 18px;
	min-height: 42px;
	position: relative;
}

.menuItem.active {
	background-color: var(--chakra-colors-gray-400);
}

.menuItem a,
.menuItem button {
	align-items: center;
	border-radius: 4px;
	display: flex;
	flex: 1;
	gap: 14px;
	height: 100%;
	padding: 10px 14px;
	position: relative;
}

.menuItem.soon a,
.menuItem.soon a:hover,
.menuItem.soon button,
.menuItem.soon button:hover {
	cursor: default;
	opacity: 0.7;
	pointer-events: none;
}

.menuItem:not(.soon) a:hover,
.menuItem:not(.soon) button:hover {
	background-color: rgba(152, 130, 255, 0.15);
	border-radius: 4px;
}

.menuItem a p,
.menuItem button p {
	font-size: 14px;
}

.container.collapsed {
	max-width: 100px;
	padding: 40px 18px;
}

.container.collapsed .header {
	align-items: center;
	padding-left: 0;
}

.container.collapsed .header img {
	max-width: 40px;
}

.container.collapsed .topMenu,
.container.collapsed .bottomMenu,
.container.collapsed .menuItem,
.container.collapsed .menuItem a,
.container.collapsed .menuItem button,
.container.collapsed .userInfo {
	justify-content: center;
}

.container.collapsed .userInfo {
	padding: 0;
}

.container.collapsed .menuItem:hover {
	background-color: transparent;
}

.container.collapsed .menuLinkWrapper {
	align-items: center;
	justify-content: center;
}

.container.collapsed .unreadBadge {
	position: absolute;
	right: 10px;
	width: auto;
}

.footer {
	padding: 0 40px 40px;
}

.logoWrapper {
	padding: 40px 40px 0;
}

@media (max-width: 1600px) {
	.userInfo {
		padding-left: 24px;
		padding-right: 24px;
	}
	.menu {
		padding: 0 24px;
	}
	.menuItem {
		font-size: 16px;
		min-height: 32px;
	}
	.menuItem a,
	.menuItem button {
		gap: 12px;
		padding: 8px 12px;
	}
	.footer {
		padding: 0 26px 24px;
	}
	.logoWrapper {
		padding: 30px 30px 0;
	}
}
