.container {
	background-color: var(--chakra-colors-gray-800);
	border: none;
	color: white;
	height: 100%;
	position: relative;
}

.header {
	padding: 25px;
}

.title {
	color: #f2f2f2;
	font-size: 16px;
}

.body {
	position: relative;
}

.tabs {
	display: flex !important;
	flex: 1;
	flex-direction: column;
	height: 100%;
}

.tablist {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px -10px;
	flex: 0;
	padding: 0 25px;
	padding-bottom: 24px;
	position: relative;
}

.unreadBadge {
	margin-left: 5px;
}

.panels {
	display: flex;
	flex: 1;
}

.panel {
	display: flex;
	flex: 1;
}

.panel.empty {
	align-items: center;
	justify-content: center;
}

.panel.empty p {
	font-size: 14px;
}

.footer {
	border-top: 1px solid #434343;
	box-shadow: rgba(0, 0, 0, 0.2) 0px -10px 20px -10px;
	margin: 0 auto;
	padding: 12px;
	width: 90%;
}

.footer img {
	opacity: 0.2;
	width: 24px;
}
