.container {
	background-color: transparent;
	padding: 10px 25px;
	transition: all 50ms linear;
}

.container:hover {
	background-color: #333;
}

.username,
.status {
	line-height: 18px;
}

.username {
	color: white;
	font-size: 14px;
	font-weight: var(--chakra-fontWeights-medium);
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.status {
	color: #999;
	font-size: 12px;
	font-weight: var(--chakra-fontWeights-medium);
}

.meta {
	position: relative;
}

.avatar {
	height: 46px;
	width: 46px;
}

.badge {
	bottom: -3px;
	position: absolute;
	right: -6px;
}

.info {
	position: relative;
	top: 6px;
}

.actions {
	height: 100%;
}

.action {
	cursor: pointer;
	height: 100%;
	opacity: 0.6;
	padding-left: 5px;
	padding-right: 5px;
	transition: all 100ms linear;
}

.action:hover {
	opacity: 1;
}
