.container {
	background-color: var(--chakra-colors-primary-400);
	border-radius: 8px;
	color: white;
	cursor: pointer;
	height: 73px;
	padding-bottom: 18px;
	padding-top: 18px;
	transition: background-color 100ms linear;
	width: 274px;
}

.container:hover {
	background-color: var(--chakra-colors-primary-300);
}

.container.queued {
	background-color: var(--chakra-colors-primary-500);
}

.container.queued:hover {
	background-color: var(--chakra-colors-primary-300);
}

.queueTime {
	font-size: 28px;
	font-weight: var(--chakra-fontWeights-bold);
}

.container.disabled,
.container.disabled:hover {
	background-color: var(--chakra-colors-primary-500);
	cursor: not-allowed;
}

.container.restricted,
.container.restricted:hover {
	background-color: var(--chakra-colors-danger-400);
	cursor: not-allowed;
}

.restrictedTime {
	font-size: 18px;
	font-weight: var(--chakra-fontWeights-bold);
}
