.container {
	background: url('@assets/images/lobby_player_card_bg.png') center;
	background-size: cover;
	border-radius: 8px;
	color: white;
	height: 100%;
	min-width: 280px;
	padding: 54px 20px;
	position: relative;
}

.closeButton {
	cursor: pointer;
	max-width: fit-content;
	overflow: hidden;
	position: absolute;
	right: 16px;
	top: 16px;
	transition: width 250ms linear;
	width: 16px;
}

.closeButton:hover {
	width: 100%;
}

.latestResults {
	font-size: 16px;
	font-weight: var(--chakra-fontWeights-semibold);
}

.footerButton {
	cursor: pointer;
}
