.container {
	background: #2f2f2f;
	border-radius: 8px;
	cursor: pointer;
	height: 100%;
	min-width: 200px;
	opacity: 1;
	overflow: visible;
	padding: 2px;
	position: relative;
	transition: all 100ms linear;
	width: 100%;
}

.container.disabled {
	cursor: default;
	opacity: 0.1;
}

.wrapper {
	background: #2f2f2f;
	border-radius: 8px;
	height: 100%;
	position: relative;
	z-index: var(--chakra-zIndices-one);
}

.mini .wrapper {
	height: 80px;
}

.icon {
	filter: invert(63%) sepia(6%) saturate(15%) hue-rotate(334deg)
		brightness(95%) contrast(88%);
	font-size: 20px;
	position: relative;
	transition: transform 120ms ease-in;
	z-index: var(--chakra-zIndices-one);
}

.container:hover .icon {
	filter: invert(48%) sepia(97%) saturate(6600%) hue-rotate(244deg)
		brightness(104%) contrast(101%);
	transform: rotate(45deg);
}

.container.disabled:hover .icon {
	filter: invert(63%) sepia(6%) saturate(15%) hue-rotate(334deg)
		brightness(95%) contrast(88%);
	transform: none;
}

.border {
	background: linear-gradient(
		to bottom,
		var(--chakra-colors-purple-400) 0,
		#2f2f2f 80%
	);
	border-radius: 8px;
	bottom: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 150ms linear;
	z-index: var(--chakra-zIndices-base);
}

.container:hover .border {
	bottom: 0;
}

.container.disabled .border {
	display: none;
}
