.typeSelection {
	color: #999;
	font-size: 18px;
	position: relative;
	text-transform: uppercase;
	transition: all 100ms linear;
}

.typeSelection.disabled {
	opacity: 0.5;
}

.lobbyMode {
	border-bottom: 1px solid #999;
	cursor: pointer;
	padding-bottom: 22px;
	position: relative;
	transition: all 100ms linear;
	user-select: none;
}

.typeSelection.disabled .lobbyMode {
	cursor: default;
}

.modeActiveCaret {
	bottom: -8px;
	color: var(--chakra-colors-primary-400);
	font-size: 24px;
	opacity: 0;
	position: absolute;
	transition: all 100ms linear;
}

.lobbyMode.activeMode,
.lobbyMode.activeMode:hover {
	border-bottom: 1px solid var(--chakra-colors-primary-400);
	color: var(--chakra-colors-primary-400);
	cursor: default;
}

.lobbyMode.lobbyMode.activeMode .modeActiveCaret {
	opacity: 1;
}

.typeSelection .lobbyMode:hover {
	border-bottom: 1px solid white;
	color: white;
}

.typeSelection.disabled .lobbyMode:hover {
	border-bottom: 1px solid #999;
	color: #999;
}

.typeSelection.disabled .lobbyMode.activeMode,
.typeSelection.disabled .lobbyMode.activeMode:hover {
	border-bottom: 1px solid var(--chakra-colors-primary-400);
	color: var(--chakra-colors-primary-400);
	cursor: default;
}

.typeSelection.disabled .lobbyMode.lobbyMode.activeMode .modeActiveCaret {
	opacity: 1;
}
