.substitle {
	color: var(--chakra-colors-secondary-400);
	font-size: 14px;
	font-weight: var(--chakra-fontWeights-regular);
}

.userIcon {
	border: 1px solid white;
	border-radius: 8px;
	padding: 9px;
}
