.container {
    background-color: #111111;
    color: white;
    height: 100vh;
}

.header {
    background-color: black;
    max-height: 90px;
    min-height: 90px;
    color: white;
    padding: 16px 60px;
}

.wrapper {
    padding: 30px 60px;
}

.sidebar {
    max-width: 305px;
    height: 100%;
}

.content {
    height: 100%;
}
