.container {
    background-color: #111111;
    color: white;
    height: 100vh;
}

.header {
    background-color: black;
    max-height: 90px;
    color: white;
    padding: 16px 60px;
}

.wrapper {
    padding-top: 42px;
    padding-left: 60px;
    padding-right: 60px;
}

.sidebar {
    max-width: 305px;
}

.content,
.sidebar {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
