.container {
	padding-bottom: 40px;
}

.header {
	background: linear-gradient(
		rgba(104, 71, 255, 1) 0%,
		rgba(17, 17, 17, 1) 100%
	);
	padding: 125px 64px 0;
}

.content {
	margin-top: 40px;
	padding: 0 64px;
}
