.container {
	background-color: #111111;
	color: white;
	position: relative;
}

.sidebar {
	height: 100%;
	position: fixed;
	width: 300px;
	z-index: var(--chakra-zIndices-sticky);
}

.content {
	margin-left: 300px;
}

@media (max-width: 1600px) {
	.sidebar {
		width: 250px;
	}
	.content {
		margin-left: 250px;
	}
}
