.container {
	background-color: black;
	background-image: url('@assets/images/signup_bg_bottom_left.png'),
		url('@assets/images/signup_bg_top_right.png');
	background-position: left bottom, right 40px top 40px;
	background-repeat: no-repeat;
	color: white;
	height: 100vh;
	position: relative;
}

.liquidObject {
	bottom: 85px;
	left: 0;
	position: absolute;
	z-index: 0;
}

.brand {
	max-width: 365px;
}

.brand img {
	width: 100%;
}

.cancelBtn {
	left: 32px;
	position: absolute;
	top: 32px;
	width: fit-content;
}
