.container {
	background: linear-gradient(201deg, #000 0%, rgba(0, 0, 0, 0) 100%),
		url('@assets/images/signup_bg_bottom_left.png'),
		lightgray -220.902px -17.757px / 116.173% 131.467% no-repeat;
	background-repeat: round;
	background-size: cover;
	color: white;
	height: 100vh;
	position: relative;
}

.liquidObject {
	bottom: 85px;
	left: 0;
	position: absolute;
	z-index: var(--chakra-zIndices-base);
}

.brand {
	max-width: 365px;
}

.brand img {
	width: 100%;
}

.cancelBtn {
	left: 32px;
	position: absolute;
	top: 32px;
	width: fit-content;
}

.rectangleImg {
	position: absolute;
	right: 40px;
	top: 40px;
}
