.container {
	background-color: black;
	background-image: url('@assets/images/signup_bg.png');
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: contain;
	color: white;
	height: 100vh;
	position: relative;
}

.liquidObject {
	bottom: 140px;
	left: 0;
	position: absolute;
	z-index: 0;
}

.brand {
	max-width: 365px;
}

.brand img {
	width: 100%;
}
